body {
  font-family: "Roboto", sans-serif;

  background-color: #ccc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  padding: 5px 10px;

  min-width: 100px;

  background-color: #d4d4ab;
  border-radius: 10px;
  border: 2px solid #2e2eaa;

  color: #600f0f;
}

.title {
  margin-bottom: 20px;

  font-size: 27px;
  letter-spacing: 0.9px;

  color: #ffffff;
}

.container {
  min-width: 320px;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* СТИЛІЗАЦІЯ HEADER  */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgba(133 122 122);
  z-index: 9;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.link-logo {
  font-size: 19px;

  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .list-communication {
    display: none;
  }
}

/* СТИЛІЗАЦІЯ HERO  */

.hero {
  padding-top: 90px;
  padding-bottom: 30px;
}

.hero-title {
  margin-bottom: 40px;

  font-size: 34px;
  text-align: center;
  color: #708383;
}

.hero-title > .after-title {
  margin-top: 10px;

  font-size: 14px;

  display: block;

  color: #7c6c6c;
}

.link-hero {
  padding: 10px 40px;

  display: block;

  width: 200px;

  background-color: #7f6b6b;
  border: 2px solid #8383cc;
  border-radius: 10px;

  color: #ffffff;
}

/* СТИЛІЗАЦІЯ BENEFITS  */
.benefits {
  padding-bottom: 40px;
}

.list-benefits {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.img-text {
  position: relative;
  overflow: hidden;
}

.benefits-img {
  transform: scale(1);
  transition: transform 250ms linear;
}

.img-text:hover .benefits-img,
.img-text:focus .benefits-img {
  transform: scale(1.5);
}

.benefits-text {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-weight: 600;
  font-size: 18px;
  text-align: center;

  color: #ffffff;
  background-color: rgba(49, 46, 46, 0.9);

  opacity: 0;

  transition: opacity 250ms linear 250ms;
}

.img-text:hover .benefits-text,
.img-text:focus .benefits-text {
  opacity: 1;
}

/* СТИЛІЗАЦІЯ OUR CUSTOMERS  */
.our-customers {
  padding-bottom: 30px;
  padding-top: 20px;
}

.customers-item {
  padding: 5px;

  border: 1px solid white;
  border-radius: 30px;
}

.customers-item:not(:last-child) {
  margin-bottom: 20px;
}

.our.customers {
  padding-top: 10px;
  padding-bottom: 20px;
}

.customers-quantity {
  margin-bottom: 10px;

  font-size: 40px;
  font-weight: 600;

  text-align: center;
  color: #ffffff;
}

.customers-subtitle {
  font-size: 18px;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* СТИЛІЗАЦІЯ OUR-EMPLOYEES */
.our-employees {
  padding-top: 20px;
  padding-bottom: 30px;

  background-color: #888872;
}

.images-slider {
  margin-bottom: 25px;
}

.item-employees {
  position: relative;
}

.text-employees {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 5px 10px;

  width: 100%;

  font-size: 17px;

  text-align: center;

  color: #ffffff;
  background-color: #0e4f63;
}

/* СТИЛІЗАЦІЯ ABOUT US  */
.about-us {
  padding-top: 20px;
  padding-bottom: 30px;

  background-color: #7d686b;
}

.about-us .text-head {
  margin-bottom: 20px;

  color: #ffffff;
}

.text-head > .link-head {
  font-style: italic;
  font-weight: 500;
  font-size: 17px;

  color: currentColor;
}

.about-description {
  padding: 10px;
  margin-bottom: 20px;

  max-height: 120px;

  overflow: auto;
  border: 1px solid rgb(223 195 195);
  border-radius: 20px;
  color: #ffffff;
}

/* СТИЛІЗАЦІЯ CONNECTION-FORM  */
.connection-form {
  padding-top: 20px;
  padding-bottom: 30px;
}

.personal-data {
  padding: 20px;
  margin-right: auto;
  margin-left: auto;

  max-width: 350px;

  border: 1px solid #ffffff;
  border-radius: 10px;
}

.title-form {
  margin-bottom: 20px;

  display: block;

  font-size: 19px;
  text-align: center;
}

.form-field {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 15px;
}

.label-form {
  font-size: 17px;
  font-weight: 600;

  color: rgb(82, 77, 77);
}

.form-input {
  padding-left: 10px;

  height: 30px;
  width: 100%;

  font-size: 17px;

  color: #423474;
  background-color: #f8eded;
  border-radius: 10px;
  border: 1px solid rgb(82, 77, 77);
  outline: transparent;
}

.form-input:not(:placeholder-shown):required:valid {
  border-color: rgb(18, 218, 18);
}

.form-input.form-input:not(:placeholder-shown):required:invalid {
  border-color: rgb(143, 4, 4);
}

.form-input::placeholder {
  color: rgb(82, 77, 77, 0.5);
  font-weight: 500;
}

.button-form {
  margin-right: auto;
  margin-left: auto;

  display: block;
}

/* СТИЛІЗАЦІЯ FOOTER  */
.footer {
  padding-top: 20px;
  padding-bottom: 30px;

  background-color: #636357;
}

.logo-footer {
  margin-bottom: 30px;

  display: block;
}

.copyright {
  font-size: 19px;

  color: #ffffff;
}

.index-confidential {
  color: currentColor;
}


/* СТИЛІЗАЦІЯ POLITIC CONFILENTIAL  */
.confidential{
 padding-top: 10px;
 padding-bottom: 10px;  
}

.link-back{
margin-bottom: 10px;

display: block;

color: #342d2d;
}

.confidential-text{
 color: #342d2d;
}


/* МОБІЛЬНЕ МЕНЮ  */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 30px 30px 30px;
  background-color: #473d3d;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-toggle {
  position: relative;

  width: 30px;
  height: 20px;

  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 50%;

  cursor: pointer;
}

.mobile-button::before,
.mobile-button::after {
  content: " ";
  position: absolute;
  left: 0;

  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 10px;
}

.mobile-button::before {
  top: 0;
}

.mobile-button::after {
  bottom: 0;
}

.mobile-button > span {
  position: absolute;
  top: 9px;
  left: 0;

  height: 2px;
  width: 100%;

  background-color: #ffffff;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu-item {
  margin-bottom: 20px;
}

.mobile-menu-link {
  color: #fff;
}
